#lang scribble/manual

@title{Reed Solomon Decode Report}

report the process of decode Reed-Solomon coded data.

@table-of-contents[]

@include-section["input/input.scrbl"]

@include-section["syndrome/syndrome.scrbl"]

@include-section["syndrome-poly/syndrome-poly.scrbl"]

@include-section["error-locator/error-locator.scrbl"]

@include-section["primitive-poly/primitive-poly.scrbl"]

@include-section["euclidean-decode/euclidean-decode.scrbl"]